div.d3tip {
	font-size: 11px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	border: 1px solid #000000;
	padding: 10px;
	box-sizing: border-box;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}